# Configuration file

general {
    # An array containing the milestones: How many unique foods you must eat to get the milestone bonus (defined above). Note that this represents the TOTAL number of foods needed; not the foods since the last milestone!
    I:"Milestone amounts" <
      3
      8
      13
      18
      23
      28
      33
      38
      43
      48
      53
      58
      63
      68
      73
      78
      83
      88
      93
      98
     >

    # Number of hearts you spawn with. [range: 1 ~ 30, default: 10]
    I:defaultHeartCount=10

    # Number of hearts you gain per milestone. [range: 1 ~ 30, default: 2]
    I:heartsPerMilestone=1

    # Add tooltips to foods to indicate if they have been eaten? [default: true]
    B:isFoodTooltipEnabled=true
}


